    <div id="toast-container"></div>
    <div class="modal-overlay" id="app-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="app-modal-title"></h2>
                <button class="btn-close" onclick="UI.closeModal()">&times;</button>
            </div>
            <div class="modal-body" id="app-modal-body"></div>
            <div class="modal-footer" id="app-modal-footer"></div>
        </div>
    </div>
